.full-wrapper{
  background-image: url('http://wallpapercave.com/wp/tmx6W6N.png');
  -webkit-background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.headerText {
  text-align: center;
  font-size: 50px;
}
.controls {
  margin-left: 20%;
  margin-top: 10%;
  border: 1px solid black;
  border-radius: 30%;
  margin-right: 20%;
  background-color: #D1D1D1;
  text-align: center;
  padding-bottom: 15px;
}
