html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.navWrapper {
  max-width: 500px;
  margin: 0 auto;

}
.navigation {
  background-color: rgba(192, 192, 192, 0.7);
  padding-top: 25px;
}

.navigation ul {
  padding-bottom: 25px;
}

.navigation ul li {
  display: inline;
  padding: 20px 25px;

}

.navigation ul li a{
text-decoration: none;
color: white;
font-size: 25px;

}

.navigation ul li a:hover{
text-decoration: underline;
color: black;

}
.headerText {
  margin: 0 auto;
  margin-top: 50px;
  text-align: right;
  padding-right: 25px;
  padding-bottom: 20px;
  margin-top: 20px;
  -webkit-text-stroke-color: 1px;
  -webkit-text-stroke-width: black;

}
.headerText > h1 {
  color: white;
  font-size: 50px;


}
.headerP {
  color: white;
  padding-top: 20px;
}



.header {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/77/SpaceX_Cape_Canaveral_Launch_Control_Center_(KSC-2011-5103).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
header > h1 {
  text-align: center;
  color: white;
}
.contentBanner {
  padding-top: 50px;
  text-align: left;
  margin-left: 250px;

}
.audio1 {
text-align: right;
float: right;
margin-top: -75px;
margin-right: 200px;
}
.history {
  margin-left: 250px;
  margin-right: 250px;
}
.historyTitle {
  text-align: left;
  color: black;
  text-align: left;
  border-radius: 25px;
  padding: 20px;
  padding-right: 65%;
  width: 250px;
  font-size: 30px;
  background-color: #D5D5D5;
  border: 1px solid #D5D5D5;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  font-weight: lighter;
  color: black;
  border-bottom: 1px solid grey;
  text-align: left;
  font-size: 25px;
}
.back1 {
  margin-left: 90%;
  padding-top: 25px;
}
.comments {
}
.commentHeader {
font-size: 30px;
border-radius: 20px;
border: 1px solid #D5D5D5;
background-color: #D5D5D5;
padding-left: 50px;
}
h5 {
  font-weight: bolder;
  font-size: 15px;
}
.comment {
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.tablehead {
  font-size: 25px;
}
.launchTable {
  border: 1px solid black;
  border-radius: 25px;
  padding: 10px;
  background-color: #D5D5D5;
  margin-bottom: 100px;
  margin-top: 50px;

}
.tableHeader {
  padding-bottom: 25px;
  color: white;

}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
    text-align: left;
    padding: 8px;
    border: 1px dotted grey;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
.sectionTitle {
  margin-bottom: 25px;
  margin-top: 25px;

}
